main{
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 90%;
  margin: 0 auto;
}

img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}

h1, h2{
  text-align: center;
  font-size: 60px;
}

nav li{
    font-size: 30px;
    display: block;
    float:left;
  }
  header nav ul{
    list-style-type: none;
    width: 120%;
    padding: 0;
    overflow-x: hidden;
    background-color: lightpink;
}

  li a {
    display: block;
    color: Mediumslateblue;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

  li a:hover {
    background-color: white;
}
/* looked at W3School for navigation bar help*/
a{
    text-decoration: none;
  }

main ul{
  display: inline-block;
  font-size: 40px;
  text-align: center;
  width: 100%;
  list-style: inside;
}

ol{
  display: inline-block;
  font-size: 30px;
  color: Mediumslateblue;
  width: 100%;
  list-style: square;
}
table, td{
  padding: 5px;
  border: DodgerBlue solid 2px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

th{
  padding: 5px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px black;
  color: white;
  border: DodgerBlue solid 2px;
}

footer{
  font-size: 3px;
  font-style: italic;
}

p{
  font-size: 30px;
  text-align: center;
}

.homered{
  margin: 0 auto;
  background-image: url("../img/question-mark-background-vector.jpg");
  height: 100px;
}

.background{
  background-color: rgb(221,160,221);
}

.dancepink{
  background-color: rgb(255,140,194)
}

.familyblue{
  background-color: rgb(5,202,255)
}

.funfactgreen{
  background-color: rgb(52,200,123)
}

.border{
  border-style: dashed;
  color: white;
  }
#up{
  position: fixed;
  bottom: 10px;
  right:10px;
  border: dashed;
  border-color: black;
  background-color: lightpink;
  font-size: 20px;
  color: blue;
  cursor: pointer;
}
#up:hover{
  background-color: white;
}
